.ScoreCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background-color: #eff6ff;
    border-radius: 8px;
    width: 100%;
    font-size: 20px;
}